 <form id="delete-form" action="{{ path('app_blog_delete', {'id': blog.id}) }}" method="post" style="display:none;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blog.id) }}">
    </form>
